
/**
 * Project Styles
 */

$enable-flex: true;
$enable-rounded: true;

$brand-primary: rgb(71, 186, 171);

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Reset and dependencies
@import "~bootstrap/scss/normalize";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/utilities";



/**
 * Project Styles
 */

@import "./styles/mixins_css3";

html, body {
    height: 100%;
}

body {
    background-image: url(./assets/bg.jpg);
    background-position: bottom-right;
    background-size: 100%;
}

.form-control {
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 3rem;
    background: transparent;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
    outline-color: transparent;
    outline-style: none;
}

.x-app-header {
    color: $brand-primary;
}

.x-table-results {
    tr:first-child td {
        border-top: 0px solid $gray-lighter;
    }
    tr td:first-child {
        border-right: 1px solid $gray-lighter;
    }
}

td.x-result-label {
    vertical-align: middle;
}

td.x-result-digit {
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
    text-align: center
}

.x-placed-bottom {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
}

.x-placed-center {
    position: fixed;
    top: 50%;
    display: block;
    width: 100%;
    text-align: center;
    @include translate(0, -50%);
}
